body {
  margin:0;
  background: #ffffff url("http://cs.deu.edu.tr/images/logo/logo.png") no-repeat right top fixed;

  margin-top: 70px;
  margin-right: 200px;
  margin-left: 50px;

}

ul.ust_liste {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -50px;
}

li.ust_liste {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {     /*contact`tan sonra border gelmemesi icin*/
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#myDIV {
    color: #ff8000;
    -webkit-animation: mymove 8s infinite;
    animation: mymove 8s infinite;
}
@keyframes mymove {
    50% {color: blue;}
}

a:link, a:visited{
	color: #ff8000;
	 }
a:hover, a:active{
	color: #0000ff;
	 }

#aile_tablosu th{
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
#aile_tablosu tr:hover {background-color: #ddd;}
