body {
  margin:0;
  background: #ffffff url("http://cs.deu.edu.tr/images/logo/logo.png") no-repeat right top fixed;

  margin-top: 70px;
  margin-right: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {     /*contact`tan sonra border gelmemesi icin*/
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
/*
table,th {
  border-style: solid;border-color:black;border-width: 1px;
  border-collapse: collapse;
}
td{
  border-top: 1px solid #ddd;
  text-align: center;
}
th,td{
  height: 40px;
  width: 150px;
}
th{
  background-color: #4CAF50;
  color: white;
}
td:hover{background-color:#ff00ff}
tr:nth-child(even){background-color: #ffdddd
}
*/
table { color:blue; border-width: 5px;
  border-color: yellow;
  background-color: grey;
   border-style: double;
   border-collapse: collapse;
   }
tr, th, td{
   border-width:1px;border-style: solid;height: 60px;width: 180px; }
td{
  text-align: center;
}


#myDIV {
    color: #ff8000;
    -webkit-animation: mymove 8s infinite;
    animation: mymove 8s infinite;
}
/*
@-webkit-keyframes mymove {
    50% {color: blue;}
}*/

@keyframes mymove {
    50% {color: blue;}
}

a:link, a:visited{
	color: #ff8000;
	text-decoration: underline;
 }
a:hover, a:active{
	color: #0000ff;
	text-decoration: none;
 }
